In [1]:
# Comments indicated by a has symbol

In [2]:
# Integer
1

1

In [7]:
# Float
1.0

1.0

In [8]:
# Multiplication
3*4

12

In [9]:
# Division
3/4

0.75

In [6]:
# We can use brackets
(2+3)*5

25

In [10]:
# Enter a string
my_string = 'abcdefghijk'

In [11]:
my_string

'abcdefghijk'

In [12]:
len(my_string)

11

In [14]:
# Format Statement
# To include a variable in your string
'My name is {my_name} and my age is {my_age}'.format(my_name='Brandon',my_age=47)

'My name is Brandon and my age is 47'

In [16]:
my_name = 'Levi'
my_age = 10
'My name is {my_name1} and my age is {my_age1}'.format(my_name1= my_name,my_age1=my_age)

'My name is Levi and my age is 10'

In [17]:
my_string

'abcdefghijk'

In [18]:
my_string[0]

'a'

In [19]:
my_string[5]

'f'

In [20]:
# Slice Notation
# Parts of an array/list
my_string[:3]

'abc'

In [21]:
my_string[3:]

'defghijk'

In [22]:
my_string[3:8]

'defgh'

In [23]:
my_string1='abc de'

In [24]:
len(my_string1)

6

In [25]:
my_string1[3]

' '

In [26]:
# Python List
#Use square brackets
my_list = ['a','b','c']

In [27]:
my_list

['a', 'b', 'c']

In [28]:
len(my_list)

3

In [29]:
my_list[:1]

['a']

In [30]:
my_list[1]

'b'

In [31]:
my_list = ['xxx','yyy','zzz','a','b','c']

In [32]:
my_list

['xxx', 'yyy', 'zzz', 'a', 'b', 'c']

In [33]:
my_list[2]

'zzz'

In [34]:
my_list[:4]

['xxx', 'yyy', 'zzz', 'a']

In [35]:
my_list[4:]

['b', 'c']

In [36]:
my_list[2:5]

['zzz', 'a', 'b']

In [37]:
my_list.append('fff')

In [38]:
my_list

['xxx', 'yyy', 'zzz', 'a', 'b', 'c', 'fff']

In [40]:
my_list1 = [['A','B','C'],['D','E'],['F']]

In [41]:
len(my_list1)

3

In [42]:
my_list[0]

'xxx'

In [43]:
my_list1[0]

['A', 'B', 'C']

In [44]:
my_list1[1:2]

[['D', 'E']]

In [45]:
my_list1[2:1]

[]

In [46]:
my_list1[2:0]

[]

In [47]:
my_list1[1][1]

'E'

In [48]:
my_list1[0][1]

'B'

In [49]:
# A list can contain any datatype
my_list2 = ['A','B',['C','D'],1,2,['A',3]]

In [50]:
my_list2

['A', 'B', ['C', 'D'], 1, 2, ['A', 3]]

In [51]:
my_list[5][0]

'c'

In [52]:
my_list2[5][0]

'A'

In [54]:
# A dictionary is a very flexible data type
# It is a 'key value' pair
# There is no fixed order of the elements
# Can have different datatypes
d1 = {'key1' : 'value1', 'Key2' : 'value2', 'key3' : 'value3'}
d2 = {1 : 'value1', 2 : 'value2', 3 : 'value3'}
d3 = {'key1' : 1, 'key2' : 2, 'key3' : 3}

In [55]:
print (d1)

{'key1': 'value1', 'Key2': 'value2', 'key3': 'value3'}

In [56]:
# Elements in the dictionary are assessd via the key
d1['key1']

'value1'

In [57]:
d2

{1: 'value1', 2: 'value2', 3: 'value3'}

In [58]:
d2[1]

'value1'

In [59]:
d2[2]

'value2'

In [60]:
len(d2)

3

In [61]:
# Dictionaries can contain different datatypes
d4 = {1 : 'value1', 2 :2, 3 : [1,2,3]}

In [62]:
d4

{1: 'value1', 2: 2, 3: [1, 2, 3]}

In [63]:
d4[3][0]

1

In [64]:
my_tuple = (1,2,3)

In [65]:
my_tuple[0]

1

In [66]:
my_tuple[0] = -911

TypeError: 'tuple' object does not support item assignment

In [67]:
my_set = {0,1,2,3,0,0,4,5,0,1}

In [68]:
# A set always displays the unique values
my_set

{0, 1, 2, 3, 4, 5}

In [69]:
# The 'range' command is used to generate lists
min_value = 0
max_value = 8
step_size = 1
my_list = list(range(min_value,max_value,step_size))

In [70]:
my_list

[0, 1, 2, 3, 4, 5, 6, 7]

In [73]:
min_value = 5
max_value = 20
step_size = 3
my_list = list(range(min_value,max_value,step_size))

In [74]:
my_list

[5, 8, 11, 14, 17]

In [76]:
# Creat a list with a 'for' loop
my_list = []  # Define an empty list
x = [1,2,3,4,5] # Define a list of value to loop through
for index in x:
    my_list.append (index*2)
print('my_list: ', my_list)

my_list:  [2, 4, 6, 8, 10]

In [77]:
# We can also use 'List comprehension' instead of 'for' loop
my_list = [2*index for index in x]

In [78]:
print(my_list)

[2, 4, 6, 8, 10]

In [79]:
# Define a function
def times2(x):
    return 2*x

In [80]:
times2(4.5)

9.0

In [81]:
# Define the 'map' object
map(times2,my_list)

In [82]:
# Convert to a list
list(map(times2,my_list))

[4, 8, 12, 16, 20]

In [86]:
my_sentence = 'Hello, my name is Brandon.'

In [87]:
my_sentence.lower()

'hello, my name is brandon.'

In [88]:
my_sentence.upper()

'HELLO, MY NAME IS BRANDON.'

In [89]:
# The 'split' command will split the striing on white space
my_sentence.split()

['Hello,', 'my', 'name', 'is', 'Brandon.']

In [90]:
my_sentence1 = '#This looks like Twitter. @This looks like an email. #No it is Twitter'

In [91]:
my_sentence1

'#This looks like Twitter. @This looks like an email. #No it is Twitter'

In [92]:
my_sentence1.split()

['#This',
 'looks',
 'like',
 'Twitter.',
 '@This',
 'looks',
 'like',
 'an',
 'email.',
 '#No',
 'it',
 'is',
 'Twitter']

In [93]:
my_sentence1.split('#')

['',
 'This looks like Twitter. @This looks like an email. ',
 'No it is Twitter']

In [95]:
my_sentence1.split('@')

['#This looks like Twitter. ', 'This looks like an email. #No it is Twitter']